<h1>${docente.nome} ${docente.cognome}</h1>
% if docente.ruolo:
    <p>${docente.ruolo} @ ${docente.dipartimento}</p>
    <p>E-mail: ${docente.mail}</p>
    <p>Telefono: ${docente.telefono}</p>
% endif
<%block name="pubblicazioni_block"/>

<%block name="progetti_block"/>

