<%inherit file="base.html"/>
<%block name="pubblicazioni_block">
<h2>Pubblicazioni</h2>
<ul>
% for c in categorie_pubb:
    <h4>${c}</h4>
    <ol>
    % for pub in pubblicazioni:
        % if pub.categoria.upper() == c:
            % if c == "RELAZIONI IN ATTI DI CONVEGNO":
                <li>${pub.autori}, <b>${pub.titolo}</b>, ${pub.titolo_convegno}, ${pub.luogo_convegno}, ${pub.periodo_convegno} ${pub.anno}</li>
            % elif c == "ARTICOLI SU RIVISTA":
                <li>${pub.autori}, <b>${pub.titolo}</b>, ${pub.titolo_libro}, ${pub.volume},
                    % if pub.mese:
                        ${pub.mese}
                    % endif:
                    ${pub.anno}</li>
            % elif c == "CAPITOLI/SAGGI": 
                <li>${pub.autori}, <b>${pub.titolo}</b>, ${pub.titolo_libro}, ${pub.nome_editore}
                    % if pub.mese:
                        ${pub.mese}
                    % endif:
                    ${pub.anno}</li>         
            % else:
                <li>${pub.autori}, <b>${pub.titolo}</b>,
                    % if pub.mese:
                        ${pub.mese}
                    % endif
                    ${pub.anno}  
                </li>
            % endif 
        % endif
    % endfor
    </ol>
% endfor 
</ul>
</%block>

<%block name="progetti_block">
<h2>Progetti</h2>
<ul>  
    % for c in categorie_prog:
        <h3>${c}</h3>
        <ol>
        % for prog in progetti:
            % if prog.tipologia == c:
            <li><b>${prog.titolo}</b>, ${prog.data_inizio}-${prog.data_fine}  
            </li>
            % endif
        % endfor
        </ol>
    % endfor    
</ul>
</%block>