<%inherit file="base.html"/>
<%block name="pubblicazioni_block">
    <h2>Pubblicazioni</h2>
    <ol>
        % for pub in pubblicazioni:
            % if pub.categoria.upper() == "RELAZIONI IN ATTI DI CONVEGNO":
                <li>${pub.autori}, <b>${pub.titolo}</b>,
                    ${pub.titolo_convegno}, ${pub.luogo_convegno},
                    ${pub.periodo_convegno} ${pub.anno}</li>
            % elif pub.categoria.upper() == "ARTICOLI SU RIVISTA":
                <li>${pub.autori}, <b>${pub.titolo}</b>,
                    ${pub.titolo_libro}, ${pub.volume},
                    % if pub.mese:
                        ${pub.mese}
                    % endif
                    ${pub.anno}</li>
            % elif pub.categoria.upper() == "CAPITOLI/SAGGI":
                <li>${pub.autori}, <b>${pub.titolo}</b>,
                    ${pub.titolo_libro}, ${pub.nome_editore}
                    % if pub.mese:
                        ${pub.mese}
                    % endif
                    ${pub.anno}</li>
            % else:
                <li>${pub.autori}, <b>${pub.titolo}</b>,
                    % if pub.mese:
                        ${pub.mese}
                    % endif
                    ${pub.anno},
                </li>
            % endif
        % endfor
    </ol>
</%block>

<%block name="progetti_block">
    <h2>Progetti</h2>
    <ol>
        % for prog in progetti:
            <li><b>${prog.titolo}</b>, ${prog.data_inizio}-${prog.data_fine}</li>
        % endfor
    </ol>
</%block>
